<nav class="nav" style="margin: 25px;margin: 25px;overflow: scroll;">
  <ul style="padding: 0">
    <li routerLinkActive="active-link"><a routerLink="/rxjs/pipes/map">Map</a></li>
    <li routerLinkActive="active-link"><a routerLink="/rxjs/pipes/mergemap">MergeMap</a></li>
    <li routerLinkActive="active-link"><a routerLink="/rxjs/pipes/switchmap">SwitchMap</a></li>
    <li routerLinkActive="active-link"><a routerLink="/rxjs/pipes/concatmap">ConcatMap</a></li>
    <li routerLinkActive="active-link"><a routerLink="/rxjs/pipes/exhaustmap">ExhaustMap</a></li>
    <li routerLinkActive="active-link"><a routerLink="/rxjs/pipes/combinelatest">CombineLatest</a></li>
    <li routerLinkActive="active-link"><a routerLink="/rxjs/pipes/combineall">CombineAll</a></li>
    <li routerLinkActive="active-link"><a routerLink="/rxjs/pipes/withlatestfrom">withLatestFrom</a></li>
    <li routerLinkActive="active-link"><a routerLink="/rxjs/pipes/zip">ZIP</a></li>

  </ul>
</nav>

<div class="content">
  <router-outlet>
  </router-outlet>
</div>

