<nav class="nav" style="margin: 25px">
  <ul>
    <li routerLinkActive="active-link"><a routerLink="/rxjs/pipes/map">Map</a></li>
    <li routerLinkActive="active-link"><a routerLink="/rxjs/pipes/mergemap">MergeMap</a></li>
    <li routerLinkActive="active-link"><a routerLink="/rxjs/pipes/switchmap">SwitchMap</a></li>
    <li routerLinkActive="active-link"><a routerLink="/rxjs/pipes/combinelatest">CombineLatest</a></li>
    <li routerLinkActive="active-link"><a routerLink="/rxjs/pipes/combineall">CombineAll</a></li>
    <li routerLinkActive="active-link"><a routerLink="/rxjs/pipes/withlatestfrom">withLatestFrom</a></li>

  </ul>
</nav>

<div class="content">
  <router-outlet>
  </router-outlet>
</div>

