<div class="top-nav">
  <div class="top-nav-logo">
    <img src="assets/images/logo2.png"/>
  </div>
  <div class="top-nav-center">

  </div>
  <div class="top-nav-menu">
    <mat-icon>info</mat-icon>
    <mat-icon>mood</mat-icon>
    <mat-icon>menu</mat-icon>
    <a routerLinkActive="active-link" routerLink="/users">people</a>
  </div>
</div>
<div id="all">
  <div class="sideBar">

  </div>
  <div id="container">

    <header class="header">
      <nav class="nav">
        <ul>
          <li routerLinkActive="active-link"><a routerLink="/javascript">JAVASCRIPT</a></li>
          <li routerLinkActive="active-link"><a routerLink="/angular">ANGULAR</a></li>
          <li routerLinkActive="active-link"><a routerLink="/ngrx">NGRX</a></li>
          <li routerLinkActive="active-link"><a routerLink="/functions">FUNCTIONS</a></li>
          <li routerLinkActive="active-link"><a routerLink="/typescript">TYPESCRIPT</a></li>
          <li routerLinkActive="active-link"><a routerLink="/rxjs">RXJS</a></li>

        </ul>
      </nav>
    </header>

    <div class="content">
      <router-outlet>
      </router-outlet>
    </div>


  </div>
  <div class="sideBar">
  </div>
</div>

<button (click)="incrementNumber()">store incrementNumber</button>
<button (click)="decrementNumber()">store decrementNumber</button>
<button (click)="resetNumber()">store resetNumber</button>
<button (click)="setConstNumb()">store setConstNumb</button>
<button (click)="setYourNumber()">store setYourNumber</button>
<input type="text" [(ngModel)]="inputValue">
<p>count: {{ count$ | async }}</p>
<button (click)="getSnippets()">getSnippets</button>
