<nav class="nav">
    <ul>
        <li routerLinkActive="active-link"><a routerLink="/typescript/basics">Basics</a></li>
        <li routerLinkActive="active-link"><a routerLink="/typescript/generics">Generics</a></li>
        <li routerLinkActive="active-link"><a routerLink="/typescript/interfaces">Interfaces</a></li>
        <li routerLinkActive="active-link"><a routerLink="/typescript/types">Types</a></li>

    </ul>
</nav>

<div class="content">
    <router-outlet>
    </router-outlet>
</div>

