<div [style.background-color]="!isLocal ? '#eecdab' : '#e6e1dc'" style="padding: 10px 10px; margin: 5px; border-radius: 15px">
  <div style="text-align: center">
    <p style="background: #ffffff5e;
  border-radius: 5px;
  padding: 4px;
  color: #566b86;  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px; /* Set the maximum width */">{{ parentData }}</p>
  </div>
  <div>
    <mat-icon style="color: #72829b;
  font-size: 23px;">delete
    </mat-icon>
    <mat-icon id="icon" appSnippetTileActive style="color: #72829b;
  font-size: 23px;">edit
    </mat-icon>
    <mat-icon style="color: #72829b;
  font-size: 23px;">library_add
    </mat-icon>

  </div>

</div>

