<nav class="nav">
  <ul>
    <li routerLinkActive="active-link"><a routerLink="/functions/basics">Basics</a></li>
    <li routerLinkActive="active-link"><a routerLink="/functions/callbacks">Callbacks</a></li>
    <li routerLinkActive="active-link"><a routerLink="/functions/compositions">Compositions</a></li>
    <li routerLinkActive="active-link"><a routerLink="/functions/curryings">Currying</a></li>
    <li routerLinkActive="active-link"><a routerLink="/functions/generators">Generators</a></li>
    <li routerLinkActive="active-link"><a routerLink="/functions/higherorders">Higher-Order</a></li>
    <li routerLinkActive="active-link"><a routerLink="/functions/operationals">Operational</a></li>
    <li routerLinkActive="active-link"><a routerLink="/functions/polimorphisms">Polimorphism</a></li>
    <li routerLinkActive="active-link"><a routerLink="/functions/recursions">Recursion</a></li>
  </ul>
</nav>

<div class="content">
  <router-outlet>
  </router-outlet>
</div>

