<nav class="nav" style="margin: 25px;margin: 25px;overflow: scroll;">
  <ul style="padding: 0">
    <li routerLinkActive="active-link"><a routerLink="/rxjs/subject/regularsubject">Regular Subject</a></li>
    <li routerLinkActive="active-link"><a routerLink="/rxjs/subject/behavioursubject">Behaviour Subject</a></li>
    <li routerLinkActive="active-link"><a routerLink="/rxjs/subject/replaysubject">Replay Subject</a></li>
    <li routerLinkActive="active-link"><a routerLink="/rxjs/subject/asyncsubject">Async Subject</a></li>

  </ul>
</nav>

<div class="content">
  <router-outlet>
  </router-outlet>
</div>

