<nav class="nav">
  <ul>
    <li routerLinkActive="active-link"><a routerLink="/angular/basics">Basics</a></li>
    <li routerLinkActive="active-link"><a routerLink="/angular/directives">Directives</a></li>
    <li routerLinkActive="active-link"><a routerLink="/angular/detectionstrategy">Detection Strategy</a></li>
    <li routerLinkActive="active-link"><a routerLink="/angular/lifecyclehooks">Life Cycle Hooks</a></li>
    <li routerLinkActive="active-link"><a routerLink="/angular/ngzone">NG Zone</a></li>
    <li routerLinkActive="active-link"><a routerLink="/angular/signals">Signals</a></li>

  </ul>
</nav>

<div class="content">

</div>

