
<nav class="nav">
  <ul>
    <li routerLinkActive="active-link"><a routerLink="/ngrx/basics">Basics</a></li>
    <li routerLinkActive="active-link"><a routerLink="/ngrx/general">General</a></li>
    <li routerLinkActive="active-link"><a routerLink="/ngrx/reducer">Reducer</a></li>
    <li routerLinkActive="active-link"><a routerLink="/ngrx/selectors">Selectors</a></li>
    <li routerLinkActive="active-link"><a routerLink="/ngrx/actions">Actions</a></li>
    <li routerLinkActive="active-link"><a routerLink="/ngrx/effects">Effects</a></li>
    <li routerLinkActive="active-link"><a routerLink="/ngrx/alltogether">AllTogether</a></li>
    <li routerLinkActive="active-link"><a routerLink="/ngrx/others">Others</a></li>

  </ul>
</nav>

<div class="content">


</div>

