<div class="example">

  <p appBasic>Highlight me!</p>
  <div *appBasic2 color="red">
    Hover over me to change my background color!
  </div>


  <p appBasic3>Highlight me3333333!</p>

  <div class="example">
    <div class="parent" style="border: 1px solid red;
    width: 400px;
    height: 400px;">
      <div appBasic4 class="children" style="background: black;
    margin: 10px;
    height: 40px;
    width: 40px;"></div>


    </div>
  </div>

  <div appBasic5 [currentPage]="1" #appBasic5="appBasic5" (emitData)="handleData($event)">
    <button id="previousPage" (click)="appBasic5.previousPage()" class="bl-def-button">previousPage()</button>
    <button id="nextPage" (click)="appBasic5.nextPage()" class="bl-def-button">nextPage()</button>

    <p>current page: {{ appBasic5.getCurrentPage }}</p>
  </div>
  <div class="example">
    <ul class="bl-def-ul" *ngIf="stream$ | async as items">
      <li *ngFor="let element of items">
        <a>item: {{ element | json }}</a>
      </li>
    </ul>
  </div>


</div>
