<div class="example-desc">
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false" style="margin: 15px" [expanded]="panelOpenState">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ title }}
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="code-snippet-area">

        <mat-tab-group>

          <!-- ----------mat-tab CODE SNIPPET ---------- -->
                <mat-tab>
                  <ng-template mat-tab-label>
                    <mat-icon class="code-tab-icon">code</mat-icon>
                    Code Example
                  </ng-template>
                  <div class="code-snippet-area-content" *ngIf="snippets$ | async as snippetData">
                    <p class="example-inner-desc">{{ codeTabDesc }}</p>
                    <p [innerHTML]="snippetData[codeTabSnippetSelect] | sanitize"></p>
                    <div class="keywords">
                      <ul>
                        <li *ngFor="let keyword of codeTabKeywords">
                          {{ keyword }}
                        </li>
                      </ul>
                    </div>
                  </div>

                </mat-tab>

          <!-- ----------mat-tab CODE INTERACTIVE ---------- -->
                <mat-tab>
                  <ng-template mat-tab-label>
                    <mat-icon class="code-tab-icon">image</mat-icon>
                    Interactive Example
                  </ng-template>
                  <div class="code-snippet-area-content">
                    <app-concatmap-interactive1></app-concatmap-interactive1>
                    <ng-template #dynamicTemplate></ng-template>

                  </div>
                </mat-tab>

          <!-- ----------mat-tab CODE IMAGE ---------- -->
                <mat-tab>
                  <ng-template mat-tab-label>
                    <mat-icon class="code-tab-icon">image</mat-icon>
                    Image Example
                  </ng-template>
                  <div class="code-snippet-area-content">

                    <img src="{{ imageTabPath }}" />
                  </div>
                </mat-tab>

          <!-- ----------mat-tab CODE TEXT ---------- -->
                <mat-tab disabled>
                  <ng-template mat-tab-label>
                    <mat-icon class="code-tab-icon">image</mat-icon>
                    Text Example
                  </ng-template>
                  <div class="code-snippet-area-content">
                  </div>
                </mat-tab>

          <!-- ----------mat-tab CODE VIDEO ---------- -->
                <mat-tab>
                  <ng-template mat-tab-label>
                    <mat-icon class="code-tab-icon">video_library</mat-icon>
                    Video Example
                  </ng-template>
                  <div class="code-snippet-area-content">

                    <video controls="controls" width="800" height="600">
                      <source src="{{ videoTabPath }}">
                    </video>
                  </div>
                </mat-tab>

        </mat-tab-group>

      </div>

    </mat-expansion-panel>

  </mat-accordion>
</div>



