
<div class="example">
  <div class="example-header">
    <h3>Map Operator</h3>
    <div class="example-header-desc">
      <b class="example-header-desc-title">Generally: </b>
      <span>
          desc desc
        </span>
    </div>
    <div class="example-header-desc">
      <b class="example-header-desc-title">More: </b>
      <span>
          more desc desc
        </span>
    </div>
  </div>

  <app-code-example
    [panelOpenState]="true"
    [title]="'my title xxx'"
    [codeTabKeywords]="['a', 'b', 'c']"
    [codeTabSnippetPath]="['rxjs', 'pipes/map']"
    [codeTabSnippetSelect]="'basics1'"
    [videoTabPath]="'/assets/videos/generic-types1.mov'"
    [imageTabPath]="'/assets/learning/images/image1.png'"

  ></app-code-example>

  <app-code-example
    [panelOpenState]="true"
    [title]="'my title xxx'"
    [codeTabKeywords]="['a', 'b', 'c']"
    [codeTabSnippetPath]="['rxjs', 'pipes/map']"
    [codeTabSnippetSelect]="'basics1'"
    [videoTabPath]="'/assets/videos/generic-types1.mov'"


  ></app-code-example>

</div>

<div class="keywords">
  <ul>
    <li>keyword</li>
    <li>keyword</li>
    <li>keyword</li>
    <li>keyword</li>

  </ul>
</div>

